---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import {ShowcaseConstant, CardConstants, questConstants} from '../constants/TextureConstants'
import {GeometryConstant, GeometryCardConstants} from '../constants/GeometryConstant'
import {ShowcaseConstant as AnimationConstant } from '../constants/AnimationConstants'
import { HeroPage } from '../components/jsx/HeroPage';

import AnimationContainer from '../components/AnimationContainer.astro';
import ShowcaseContainer from '../components/ShowcaseContainer.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<div id="parent">
		<HeroPage client:only="react" />
	</div>
	
	<main >
		<div class="container">
			<lite-youtube videoid="NE90uY8LJc4" style="background-image: url('https://i.ytimg.com/vi/NE90uY8LJc4/hqdefault.jpg')" class="yt-video">
				<a href="https://youtube.com/watch?v=NE90uY8LJc4" class="lty-playbtn" title="Play Video">
				  <span class="lyt-visually-hidden">Play Video: Charmed AI: End to end 3D character creation with AI</span>
				</a>
			</lite-youtube>
		</div>

		<div class="container">

			<div class='title-container' id='geometry-container'>

				<h2 class='geometry-header'>AI Geometry Generator</h2>
				<p class='secondary'>
					<span>Effortlessly make your ideas reality by creating unique and compelling 3D meshes.</span>
				</p>
				<div class='ctas'>
					<button	class='gradient-button'>
						Try it for free
					</button>
				</div>
			</div>
			<div class='cards-container'>
				{GeometryCardConstants.map((card: any) => (
					<div class='card'>
					<Card
						title={card.title}
						text={card.text}
						image={card.image ? card.image : ''}
						imageClassName={card.imageClassName ? card.imageClassName : ''}
						/>
				</div>
			))}
			</div>

			<ShowcaseContainer imageSets={[GeometryConstant.slice(0, 11), GeometryConstant.slice(11, 23)]}isImage title='Made with the Geometry Generator' subtitle='Click on an image to view in 3D'/>
		</div>

		<div class="container">

			<div class='title-container' id='texture-container'>

				<h2 class='texture-header'>AI Texture Generator</h2>
				<p class='secondary'>
					<span>Use AI to generate beautiful textures for your 3D objects</span>
				</p>
				<div class='ctas'>
					<button					class='gradient-button'					>
						Try it for free
					</button>
				</div>
			</div>
			<div class='cards-container'>
				{CardConstants.map((card: any) => (
					<div class='card'>
					<Card
						title={card.title}
						text={card.text}
						image={card.image ? card.image : ''}
						imageClassName={card.imageClassName ? card.imageClassName : ''}
						/>
				</div>
			))}
			</div>

			<ShowcaseContainer imageSets={[ShowcaseConstant.slice(0, 9), ShowcaseConstant.slice(9, 18), ShowcaseConstant.slice(18, 27)]} isImage title='Textured with Charmed' subtitle='Click on a textured object to preview it in 3D'/>
		</div>

		<div class="container">
			<AnimationContainer/>
			<ShowcaseContainer imageSets={[AnimationConstant]} isImage={false} title='Animated with Charmed' subtitle='Click on any animation to preview it in 3D'/>
		</div>

		<div class="container">
			
			<div class='title-container' id='quest-container'>
				<!-- <TextureIcon /> -->

				<h2 class='geometry-header'>Quest Generator</h2>
				<p class='secondary'>
					<span>Build imaginative worlds and engaging quests with AI Assistance</span>
				</p>
				<div class='ctas'>
					<button	class='gradient-button'>
						Try it for free
					</button>
				</div>
			</div>
			<div class='quest-cards-container'>
				{questConstants.map((card: any) => (
					<div class='quest-card'>
					<Card title={card.title} text={card.text} image={card.image} imageClassName={card.imageClassName} />
				</div>
			))}
			</div>
		</div>

		<Footer/>
	</main>
</Layout>

<style is:global>
	#parent{
		height: 650vh;
	}

	main {
		display: flex;
		width: auto;
		padding: 40px 160px;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		overflow-x: hidden;
	}
	@media (max-width: 768px) {
		main {
			padding: 20px 40px;
		}
	}
	
	.yt-video{
		width:100%;
		max-width: none;
	}

	.topbar-wrapper {
		display: flex;
		padding: 24px;
		justify-content: center;
		position: relative;
		z-index: 10;

		@media (max-width: 768px) {
			padding: 12px 24px;
		}

		@media (max-width: 450px) {
			padding: 6px 24px;
		}
	}

	.container{
		display: flex;
		width: min(100% , 1120px);
		padding: 40px 160px;
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}

	.cards-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		gap: 24px;
		justify-content: center;
		width: 100%;

		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
		}
	}
	.card {
		grid-column: span 1;
		height: 400px;
	}

	.title-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		z-index: 100;
		gap: 16px;
	}
		.heading {
			color: #fff;
			text-align: center;
			font-family: Satoshi;
			font-size: 48px;
			font-style: normal;
			font-weight: 500;
			line-height: 56px;
			letter-spacing: -0.48px;
			margin: 0;

			@media (max-width: 768px) {
				font-size: 24px;
				font-style: normal;
				font-weight: 500;
				line-height: 32px;
				letter-spacing: -0.24px;
			}
		}

		.secondary {
			font-size: 20px;
			color: #9f9aab;
			width: 80%;
			align-items: center;
			text-align: center;
			margin: 0;

			@media (max-width: 768px) {
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
			}
		}
		.geometry-header {
		text-align: center;
		font-family: Satoshi;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 56px;
		letter-spacing: -0.48px;
		align-self: stretch;
		background: linear-gradient(90deg, #fff 29.67%, #828282 50.93%, #fff 72.19%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: auto;
	}

	.texture-header {
		text-align: center;
		font-family: Satoshi;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 56px;
		letter-spacing: -0.48px;
		align-self: stretch;
		background: linear-gradient(90deg, #fff 29.67%, #efbeff 50.93%, #fff 72.19%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: auto;
	}
	.animation-header {
		text-align: center;
		font-family: Satoshi;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 56px;
		letter-spacing: -0.48px;
		align-self: stretch;
		background: linear-gradient(90deg, #fff 29.67%, #ffb5d6 50.93%, #fff 72.19%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: auto;
	}

	.quest-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 24px;
    justify-content: center;
    width: 100%;
}

@media (max-width: 928px) {
    .quest-cards-container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 928px) and (max-width: 1300px) {
    .quest-cards-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .quest-cards-container .quest-card {
        grid-column: span 2;
    }
}

.quest-card {
    grid-column: span 1;
}

.quest-card &gt; * {
    height: 450px;
    justify-content: center;
}

@media (max-width: 660px) {
    .quest-card &gt; * {
        align-items: center;
    }
}

@media (min-width: 660px) and (max-width: 928px) {
    .quest-card &gt; * {
        flex-direction: row;
        align-items: center;
    }
}

.quest-card &gt; * .info {
    width: 90%;
}
</style>
